@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Ysabeau:ital,wght@1,500&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


body {
 
  font-family:'Permanent Marker', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.6rem;
}

h1{
  font-size: 6rem;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: rgba(0,0,0,0.4); */
  color:fff;
}

.app:before{
  content: '';
  /* background:url('./assets/clouds.jpg') no-repeat center center/cover; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  z-index: -1;
}

.app .search{
  text-align: center;
  margin: 1rem;
}

.app input{
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255 ,255,0.2);
  background:rgba(255,255,255,0.5);
  color: black;
}

/* Target the input element and style its placeholder text */
.app input::placeholder {
  color: black; 
}


::placeholder{
  color: #f8f8f8;
}

.container{
  max-width: 700px;
height: 700px;
margin:auto;
padding:0 1rem ;
position: relative;
top: 10%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.app .top{
  width: 100%;
  margin: 1rem auto
}

.app .description{
position: relative;
right: -90%;
transform-origin: 0 0 ;
transform: rotate(269deg);
}

.app .bottom{
  display: flex ;
justify-content: space-evenly;
text-align: center;
width: 100%;
margin: 1rem auto;
padding: 1rem;
border-radius:12px ;
/* 0.2 is for the opacity */
background-color: rgba(255,255,255,0.2);

} 

.bold{
  font-weight: 700;
}

/* Default background for when weather data is null or not yet fetched */
.app.default {
  background-image: url('./assets/weather.jpg');
}

/* Sunny or clear weather background */
.app.clear {
  background-image: url('https://i2-prod.leicestermercury.co.uk/incoming/article6857613.ece/ALTERNATES/s1200c/0_Spring-sunshine2.jpg');
}

/* Rainy weather background */
.app.rain {
  background-image: url('https://www.southernliving.com/thmb/APmZDoQ9oDZHExf6dubVDsvzz14=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-1383026300-c9979ab93b1b4571a3ef3b36ccf50bb4.jpg');
  color:black;
}

/* Cloudy weather background */
.app.clouds {
  background-image: url('https://wallpaperaccess.com/full/1462163.jpg');
}

/* Snowy weather background */
.app.snow {
  background-image: url('https://static01.nyt.com/images/2019/11/26/us/26holiday-weather01sub/26holiday-weather01sub-superJumbo.jpg');
}

/* Set the background size and other properties */
.app {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Add any other background styles you need */
  /* e.g., height, width, background-color, etc. */
}
